.dog-breeds-search {
  padding: 30px;
  text-align: left;

  .dog-breeds-search__title {
    text-align: center;
  }

  .sort-by-text {
    margin-right: 20px;
  }

  .search-button {
    margin-left: 20px;
  }

}